
.analytics-info-container{
    position: relative;
    background-color: rgb(10, 37, 64);
    flex-shrink:2;
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 250px;
}
.analytics-info-container::after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    height: 50%;
    width:100%;
    background: inherit;
    z-index:-1;
    content: '';
    transform-origin: top left;
    transform: skewY(-8deg);
}

.analytics-info-holder{
    flex-shrink: 1;
    min-height: 400px;
    width: 100%;
    display: block;
    justify-content: end;
}

.analytics-market-holder{
    flex-shrink: 1;
    min-height: 300px;
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(10, 37, 64);
}

.analytics-info{
    min-height: 400px;
    width: 40%;
    justify-content: end;
    margin-left: 150px;
}

.analytics-content-header{
    color: rgb(0, 212, 255);
    font-family: sohne-var, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.analytics-content-heading{
    color:white;
    font-size: 34px;
    font-weight: 700;
}

.analytics-info-p{
    color: rgb(173, 189, 204);
    line-height: 1.5;
    font-family: sohne-var, "Helvetica Neue", Arial, sans-serif;
}

.analytics-market-small-cont{
    height: 100%;
    min-width:150px;
}

.analytics-market-heading{
    color:white;
}

.analytics-market-info{
    color:rgb(173, 189, 204);
}